<settings>
<servers>
  <server>
    <id>factory-FactoryRepository</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>factory-FactoryRepository</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>factory-FactoryRepository</id>
        <url>https://factory-781648067507.d.codeartifact.eu-central-1.amazonaws.com/maven/FactoryRepository/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>factory-FactoryRepository</id>
    <name>factory-FactoryRepository</name>
    <url>https://factory-781648067507.d.codeartifact.eu-central-1.amazonaws.com/maven/FactoryRepository/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>